<%- include('../partials/header') %>
<body>
  
<!-- <img src="/images/GameDev-Banner.png" alt="GameDev Banner" class="banner"> -->

<section class="content" style="background-image: url('images/Pixel_Art_Bannar_1_6ea024d4a2_ab9355db06.jpg');">
  <div class="content-overlay">
    <h1>LEVEL UP YOUR GAME</h1>
    <p>Join 50,000+ players in tournaments, guilds, and live streams all around the world.</p>
  </div>
</section>
<hr>


<section>
  <center>
    <h1>View Tournaments</h1>
  </center>
  <div class="card-container">
    <% upcomingEvents.forEach(event => { %>
      <a href="/event/<%= event.id %>" class="event-card" style="background-image: url('/images/<%= event.image %>');" data-date="<%= event.date %>">
        <div class="event-overlay">
          <h2><%= event.title %></h2>
          <p><%= new Date(event.date).toDateString() %> - <%= event.location %></p>
          <p class="event-description"><%= event.description %></p>
          <div class="countdown"></div>
        </div>
      </a>
    <% }) %>
  </div>
  
  <div class="button-container">
    <a href="/events" class="home_more">View All Events</a>
</div>
</section>
<!-- <section class="home-css">
<h1>
<b><u>Want to know more about us?</u></b>
</h1>
<img src="images/GameDev-About.png" alt="About image"> 
<p>Discover our story, mission and the team behind GameDev</p>
<a href="about.ejs"></a>
</section>
<hr>

<section class="home-css">
<h1>
<b><u>Want to contact us?</u></b>
</h1>
<img src="/WPR381 P-AM No. 9/public/images/GameDev-Contact.jpeg" alt="Contact image"> 
<p>Have questions? Our team is ready to help!</p>
<a href="contact.ejs"></a>
</section>
<hr> -->
<script src="/js/countdown.js"></script>
<%- include('../partials/footer') %>
